<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Qurashi Dance Website</title>
</head>
<body>
   {{>navbar}}
    <section class="backimg">
    <h2>Wellcome To Qurashi Dance Academy</h2>
    <h4>Eat Sleep Dance reapt</h4>
    </section>
   <section class="mission">
       <h2>Our Mission</h2>
       <div class="card">
           <h3>Dance Perfection</h3>
           <div class="box-card">
           <div class="mission_img">
              <img src="img/img1.png"  class="card_img" alt="" >
           </div>
           <div class="content">
               <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
           </div>
           </div>
       </div>
       <div class="card">
           <h3>Dance Way You Like</h3>
           <div class="box-card">
           <div class="mission_img">
              <img src="img/img2.png"  class="card2_img" alt="" >
           </div>
           <div class="content">
               <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
           </div>
           </div> 
       </div>
       <div class="card">
           <h3>Expert Teaching</h3>
           <div class="box-card">
           <div class="mission_img">
              <img src="img/img3.png"  class="card3_img" alt="" >
           </div>
           <div class="content">
               <h4>Lorem ipsum dolor  adipisicing elit.</h4>
           </div>
           </div>
       </div>
   </section>
    <section class="sponser_section" >
       <h2>Our Sponser</h2>
       <div class="sponsers">
        <img src="img/microsoft.png" alt="" class="spons_img">
        <img src="img/hp.png" alt="" class="spons_img">
        <img src="img/skype.png" alt="" class="spons_img">
        <img src="img/apple.png" alt="" class="spons_img">

       </div>
   </section>
   {{>footer}}
</body>
</html>