 <nav>
        <ul>
            <div class="box">
            <img src="img/logo.png" alt="" class="logo" >
             <p>QDA</p> 
              </div>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Service</a></li>
            <li><a href="/"> Class Info</a></li>
            <li><a href="/"> Contact</a></li>
        </ul>
    </nav>